* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
}

ul a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.hero {
  background-color: #333;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.hero-text {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.hero-image {
  flex: 1;
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}

.action-buttons {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
  }

  .hero-text {
    text-align: center;
  }
}
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 850px;
  padding: 30px 0px;
  font-weight: 300;
  text-align: center;
}

#contact {
  flex-direction: column;
  align-items: center;
}

.info-container {
  gap: 50px;
}
.info-container h2 {
  text-align: center;
}

.informative-section {
  background-color: black;
  color: wheat;
  padding: 80px 0;
  text-align: center;
}

.informative-content {
  max-width: 800px;
  margin: 0 auto;
}

.informative-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.informative-content p {
  font-size: 1.2rem;
}
/*CARDS*/
#cards-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  padding: 70px 0px;
  width: 95%;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
}

.card i {
  font-size: 50px;
}

.card h3 {
  font-size: 20px;
}

/*contact*/
#contact {
  display: flex;
  padding: 70px 30px;
  width: 100%;
  justify-content: space-around;
  color: whitesmoke;
  flex-wrap: wrap;
  gap: 50px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.contact-info-container {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
.info-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.black-bg {
  background-color: black;
}

.info-column h3 {
  font-size: 24px;
}

.info-column p,
.info-column a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.info-column-a {
  text-decoration: none;
  color: white;
}

iframe {
  height: 350px;
  width: 400px;
}

footer {
  color: azure;
  width: 100%;
  text-align: center;
  padding: 30px 0px;
  font-size: 20px;
}

.contact-info-container {
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.info-column {
  align-items: center;
}
iframe {
  height: 300px;
  width: 100%;
}
